@import '../../global/global.css';
@import '../themes/pink-theme.module.css';

:root {
    --background-color: #ffff;
    --text-color: #000;

    --font-family: var(--body-font-family);
    --line-height: var(--body-line-height);
    --font-size: var(--body-font-size);

    --border-color: #000;
    --border-width: calc(var(--sz8px) / 4);
    --border-style: solid;
    --border-radius: var(--sz8px);

    --height: var(--sz48px);

    --position: static;

    --padding: var(--spc24);
}

.button {
    background: var(--background-color);
    color: var(--text-color);

    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);

    height: var(--height);

    position: var(--position);

    cursor: pointer;

    padding: var(--padding);
}