.wrapper {
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.button-close {
    background: transparent;
    width: 48px;
    height: 48px;
}

.button-close > * {
    width: 100%;
    height: 100%;
}